/* THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --bg: hsl(0, 0%, 10%);
    --elem-bg: hsl(0, 0%, 15%);
    --btn-bg: hsl(0, 0%, 20%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #000;
    --bg: hsl(0, 0%, 95%);
    --elem-bg: hsl(0, 0%, 85%);
    --btn-bg: hsl(0, 0%, 75%);
  }
}


body {
  color: var(--text);
  background-color: var(--bg);
}


button, input, select {
  color: var(--text);
  background-color: var(--elem-bg);
  border-color: transparent;
  border-radius: 7px;
}

button:active {
  background-color: hsl(198, 93.2%, 59.6%);
}


img {
  vertical-align: middle;
}


hr {
  border-color: purple;
}


input, select {
  outline: none;
  text-align: center;
}

input {
  caret-color: purple;
}