body {
  background-color: var(--bg);
}

body, button, input, select {
  font-family: Sans-Serif;
  color: var(--text);
}


button, input, select {
  background-color: var(--btn-bg);
  border-color: transparent;
  border-radius: 7px;
}

button:active {
  background-color: hsl(198, 93.2%, 59.6%);
}


img {
  vertical-align: middle;
}


hr {
  border-color: purple;
}


h2, select {
  color: purple;
}


input, select {
  outline: none;
  text-align: center;
}

input {
  caret-color: purple;
}