/* THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --bg: hsl(0, 0%, 10%);
    --elem-bg: hsl(0, 0%, 15%);
    --btn-bg: hsl(0, 0%, 20%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #000;
    --bg: hsl(0, 0%, 95%);
    --elem-bg: hsl(0, 0%, 85%);
    --btn-bg: hsl(0, 0%, 75%);
  }
}